:root {
    --white: #ffffff;
    --black: #000000;
    --brand-black-light: #222631;
    --brand-primary: #E0A067;
    --brand-second-primary: #B4B1B1;
    --brand-transfer: #FFFFFF14;
    --brand-border:#dddddd96;
    --brand-primary-light:#eed9c5;





}