.company {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    background: var(--white);
    position: relative;
    transition: 0.9s ease all;


    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 50px 0;


        border-radius: 5px;

        li {
            width: calc(20% - 20px);
            padding: 50px 0;


            img {
                width: 70%;
            }


        }
    }



    .left-arrow-one {
        position: absolute;
        left: 20px;
        top: 55px;
        display: none;


        .left-arrow {
            background: var(--brand-primary);
            width: 50px;
            height: 50px;
            border-radius: 50px;
            transition: 0.9s;
            position: relative;


            a {

                position: absolute;
                top: 12px;
                left: 10px;
            }

            &:hover {
                background: var(--black);
            }
        }
    }

    .right-arrow-one {
        position: absolute;
        right: 20px;
        top: 55px;
        display: none;


        .right-arrow {
            background: var(--brand-primary);
            width: 50px;
            height: 50px;
            border-radius: 50px;
            transition: 0.9s;
            position: relative;


            a {

                position: absolute;
                top: 12px;
                right: 10px;
            }

            &:hover {
                background: var(--black);
            }
        }
    }

    &:hover .left-arrow-one {
        display: block;
    }

    &:hover .right-arrow-one {
        display: block;
    }
}