.lawyers {
    background: url(../../images/fun-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    padding: 100px 0;

    .two-line {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left-line {
            h2 {
                font-size: 35px;
                color: var(--white);
                width: 78%;
            }

        }

        .right-line {
            p {
                color: var(--white);
                font-size: 16px;
                width: 80%;
            }
        }
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 50px 0;

        li {
            background-color: var(--brand-transfer);
            padding: 20px 40px;

            .lawyers-card {
                align-items: center;
                justify-content: space-between;
                display: flex;
                .text-lawyers{
                
                    font-size: 20px
                    ;
                    color: var(--white);
                    width: 64%;
                }

            }
        }
    }

}